In [2]:
import pandas as pd
import datetime as dt
import footballData as fd
import numpy as np
import random
import matplotlib.pyplot as plt
import datetime
import time
import Elo as ELO
import seaborn as sns

In [3]:
df1888=pd.read_csv('englandthesis.csv')

/Users/andrewpuopolo/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
startdate=1958
fulldf=df1888[df1888['Season']>=startdate]
fulldf=fulldf.sort_values('Date')
fulldf=fulldf.reset_index()
fulldf=fulldf.replace('Milton Keynes Dons', 'Wimbledon')

In [5]:
def CalendarYear(Date):
    return int(Date.split('-')[0])
CalendarYear(fulldf['Date'][0])
def Month(Date):
    return int(Date.split('-')[1])
fulldf['CalendarYear']=fulldf.apply(lambda row: CalendarYear(row['Date']), axis=1)
fulldf['Month']=fulldf.apply(lambda row: Month(row['Date']), axis=1)

In [ ]:
import copy
from copy import deepcopy


def E(r, rj, Home):
    return 1/(1+10**(-1*(r-rj+Home)/400))

def Res(HomeG, AwayG):
    if(HomeG>AwayG):
        return 1
    elif(AwayG>HomeG):
        return 0
    else:
        return 0.5

def lik(E, R):
    if(R==1):
        return np.log(E)
    elif (R==.5):
        return np.log(np.sqrt(E*(1-E)))
    elif (R==0):
        return np.log(1-E)

initdictionary={}
initvalues=[1500,1500,1500,1500]
initialrows=[]


#This needs to be rewritten so we don't have to run it over an dover again
initdictionary={}
initvalues=[1500,1500,1500,1500]
initialrows=[]
#This needs to be rewritten so we don't have to run it over an dover again
for i in range(len(fulldf['home'].unique())):
    Team=fulldf['home'].unique()[i]
    Teamdf=fulldf[fulldf['home']==Team].reset_index()
    Tier=int(Teamdf['tier'][0])
    initialrow=[Team, Tier]
    initialrows.append(initialrow)
#Needs to be rewritten to optimize using BuildEloDict Function
for a in range(len(initialrows)):
    initdictionary[initialrows[a][0]]=initvalues[initialrows[a][1]-1]
initdictionary

{'AFC Bournemouth': 1500,
 'AFC Wimbledon': 1500,
 'Accrington': 1500,
 'Accrington Stanley': 1500,
 'Aldershot': 1500,
 'Arsenal': 1500,
 'Aston Villa': 1500,
 'Barnet': 1500,
 'Barnsley': 1500,
 'Barrow': 1500,
 'Birmingham City': 1500,
 'Blackburn Rovers': 1500,
 'Blackpool': 1500,
 'Bolton Wanderers': 1500,
 'Boston United': 1500,
 'Bradford City': 1500,
 'Bradford Park Avenue': 1500,
 'Brentford': 1500,
 'Brighton & Hove Albion': 1500,
 'Bristol City': 1500,
 'Bristol Rovers': 1500,
 'Burnley': 1500,
 'Burton Albion': 1500,
 'Bury': 1500,
 'Cambridge United': 1500,
 'Cardiff City': 1500,
 'Carlisle United': 1500,
 'Charlton Athletic': 1500,
 'Chelsea': 1500,
 'Cheltenham': 1500,
 'Chester': 1500,
 'Chesterfield': 1500,
 'Colchester United': 1500,
 'Coventry City': 1500,
 'Crawley Town': 1500,
 'Crewe Alexandra': 1500,
 'Crystal Palace': 1500,
 'Dagenham and Redbridge': 1500,
 'Darlington': 1500,
 'Derby County': 1500,
 'Doncaster Rovers': 1500,
 'Everton': 1500,
 'Exeter City': 1500,
 'Fleetwood Town': 1500,
 'Fulham': 1500,
 'Gateshead': 1500,
 'Gillingham': 1500,
 'Grimsby Town': 1500,
 'Halifax Town': 1500,
 'Hartlepool United': 1500,
 'Hereford United': 1500,
 'Huddersfield Town': 1500,
 'Hull City': 1500,
 'Ipswich Town': 1500,
 'Kidderminster Harriers': 1500,
 'Leeds United': 1500,
 'Leicester City': 1500,
 'Leyton Orient': 1500,
 'Lincoln City': 1500,
 'Liverpool': 1500,
 'Luton Town': 1500,
 'Macclesfield': 1500,
 'Maidstone United': 1500,
 'Manchester City': 1500,
 'Manchester United': 1500,
 'Mansfield Town': 1500,
 'Middlesbrough': 1500,
 'Millwall': 1500,
 'Morecambe': 1500,
 'Newcastle United': 1500,
 'Newport County': 1500,
 'Northampton Town': 1500,
 'Norwich City': 1500,
 'Nottingham Forest': 1500,
 'Notts County': 1500,
 'Oldham Athletic': 1500,
 'Oxford United': 1500,
 'Peterborough United': 1500,
 'Plymouth Argyle': 1500,
 'Port Vale': 1500,
 'Portsmouth': 1500,
 'Preston North End': 1500,
 'Queens Park Rangers': 1500,
 'Reading': 1500,
 'Rochdale': 1500,
 'Rotherham United': 1500,
 'Rushden & Diamonds': 1500,
 'Scarborough': 1500,
 'Scunthorpe United': 1500,
 'Sheffield United': 1500,
 'Sheffield Wednesday': 1500,
 'Shrewsbury Town': 1500,
 'Southampton': 1500,
 'Southend United': 1500,
 'Southport': 1500,
 'Stevenage Borough': 1500,
 'Stockport County': 1500,
 'Stoke City': 1500,
 'Sunderland': 1500,
 'Swansea City': 1500,
 'Swindon Town': 1500,
 'Torquay United': 1500,
 'Tottenham Hotspur': 1500,
 'Tranmere Rovers': 1500,
 'Walsall': 1500,
 'Watford': 1500,
 'West Bromwich Albion': 1500,
 'West Ham United': 1500,
 'Wigan Athletic': 1500,
 'Wimbledon': 1500,
 'Wolverhampton Wanderers': 1500,
 'Workington': 1500,
 'Wrexham': 1500,
 'Wycombe Wanderers': 1500,
 'Yeovil': 1500,
 'York City': 1500}

In [ ]:
import datetime
from datetime import datetime
def DT(Date):
    return datetime.strptime(Date, '%Y-%m-%d')
fulldf['Date']=fulldf.apply(lambda row: DT(row['Date']), axis=1)

def to_integer(current_time):
    return (current_time-fulldf['Date'][0]).days
fulldf['Day#']=fulldf.apply(lambda row: to_integer(row['Date']), axis=1)
fulldf

In [ ]:
fulldf

In [57]:
import time


def lik(E, R):
    if(R==1):
        return np.log(E)
    elif (R==.5):
        return np.log(np.sqrt(E*(1-E)))
    elif (R==0):
        return np.log(1-E)
def Eloperiods(params):
    ratingperiodlength=7.0
    k=params['k']
    h=80
    hk=params['hk']
    #minrd=params['minrd']
    curtime=time.time()
    rows=len(fulldf)
    logliks=0.0
    hburn=9
    burn=41
    startyear=fulldf['Season'].values[0]
    startday=fulldf['Season']
    Elodictionary2=copy.deepcopy(initdictionary)
    currentyear=fulldf['Season'].values[0]
    startdate=fulldf['Date'][0]
    GameCounter=0.
    Rs=0.
    Es=0.
    year=copy.deepcopy(startyear)
    totaltime=fulldf['Day#'][rows-1]-fulldf['Day#'][0]
    day=0.
    yearrows=[]
    HR=0
    HG=0
    hf=[]
    correctclass=0
    gamesclass=0
    while day<=totaltime:
        #print(Elodictionary2)
        ratingperioddf=fulldf[(fulldf['Day#'] >=day) & (fulldf['Day#']<day+ratingperiodlength)].reset_index()
        if len(ratingperioddf!=0):

            Rs=0.
            Es=0.

            for ind, row in ratingperioddf.iterrows():
                if(row['Season']!=year):
                    hf.append([year, HR/HG])
                    HR=0
                    HG=0
                    yeardf=fulldf[fulldf['Season']==row['Season']].reset_index()
                    firstdf=yeardf[yeardf['tier']==1]
                    seconddf=yeardf[yeardf['tier']==2]
                    thirddf=yeardf[yeardf['tier']==3]
                    fourthdf=yeardf[yeardf['tier']==4]
                    firstteams=firstdf['home'].unique()
                    secondteams=seconddf['home'].unique()
                    thirdteams=thirddf['home'].unique()
                    fourthteams=fourthdf['home'].unique()
                    firsts=[]
                    seconds=[]
                    thirds=[]
                    fourths=[]
                    for team in firstteams:
                        firsts.append(Elodictionary2[team])
                    for team in secondteams:
                        seconds.append(Elodictionary2[team])
                    for team in thirdteams:
                        thirds.append(Elodictionary2[team])
                    for team in fourthteams:
                        fourths.append(Elodictionary2[team])
                    yearrows.append([year, firsts, seconds, thirds, fourths])
                    
                #print('sup')
                Home=row['home']
                Away=row['visitor']
                HomeGoals=row['hgoal']
                AwayGoals=row['vgoal']
                year=row['Season']
                date=row['Date']
                HomeRating=Elodictionary2[Home]
                AwayRating=Elodictionary2[Away]
                Expect=E(HomeRating, AwayRating, h)
                HRes=Res(HomeGoals, AwayGoals)
                PE=(HRes-Expect)*k
                Elodictionary2[Home]=HomeRating+PE
                Elodictionary2[Away]=AwayRating-PE
                Rs+=HRes
                Es+=Expect
                HR+=HRes
                HG+=1
                if(year>startyear+burn):
                    if(HRes==1):
                        if(tier==1)
                    logliks+=lik(Expect, HRes)
                #print(Home,Away, HomeRating, AwayRating, PE, HRes, HomeGoals, AwayGoals)
                #print(Elodictionary2['Home'], Elodictionary2['Away'], h)
                    
            
            if(year>startyear+hburn):
                h+=hk*(Rs-Es)
        day+=ratingperiodlength
    print(params ,logliks,Elodictionary2['Tottenham Hotspur'], time.time()-curtime)
    hf.append([year, HR/HG])
    return [correctclass, gamesclass]

In [58]:
Eloperiods(best)

{'hk': 0.2742633382088742, 'k': 13.797215454070143} -44210.7270572 1960.1077540754864 19.38529682159424

[31612, 48906]

In [45]:
best={'hk': 0.2742633382088742, 'k': 13.797215454070143}
Hres=Eloperiods(best)

{'hk': 0.2742633382088742, 'k': 13.797215454070143} -44210.7270572 1960.1077540754864 21.30338191986084

In [56]:
columns=['Year', 'Home Results']
Homedf=pd.DataFrame(Hres, columns=columns)
Homedf=Homedf[Homedf['Year']>1968].reset_index()
plt.scatter(Homedf['Year'], Homedf['Home Results'], color='green')
plt.ylabel('Average Home Result', fontsize=14)
plt.xlabel('Year', fontsize=14)
plt.title('Average Home Result Over Time', fontsize=16)
plt.savefig('HomeResTime.png')

In [ ]:
from hyperopt import hp
space = {
    #'ratingperiodlength': hp.quniform('ratingperiodlength', 2, 30, 1),
    'c': hp.uniform('c', 0, 40),
    #'h': hp.uniform('h', 50, 150),
    #get rid of this for now
    #'minrd': hp.uniform('minrd', 0, 60),
    'hk': hp.uniform('hk', 0, .25),
    'maxrd': hp.uniform('maxrd', 100, 350)
}

from hyperopt import tpe
# Algorithm
tpe_algorithm = tpe.suggest

from hyperopt import Trials
# Trials object to track progress
bayes_trials = Trials()

from hyperopt import fmin

MAX_EVALS = 1000


for i in range (1):
    space = {
        #'ratingperiodlength': hp.quniform('ratingperiodlength', 2, 30, 1),
        'k': hp.uniform('k', 10, 25),
        #'h': hp.uniform('h', 50, 150),
        #get rid of this for now
        #'minrd': hp.uniform('minrd', 0, 60),
        'hk': hp.uniform('hk', 0, 1),
    }

    from hyperopt import tpe
    # Algorithm
    tpe_algorithm = tpe.suggest

    from hyperopt import Trials
    # Trials object to track progress
    bayes_trials = Trials()

    from hyperopt import fmin

    MAX_EVALS = 1000

    best = fmin(fn = Eloperiods, space = space, algo = tpe.suggest, 
            max_evals = MAX_EVALS, trials = bayes_trials)
    bests.append(best)

In [ ]:
nulldf=fulldf[fulldf['Season']>1983].reset_index()

In [ ]:
nullpred=1/(1+10**(-.2))
nullpred

In [ ]:
nullliks=0
for i in range(len(nulldf)):
    if(nulldf['hgoal'][i]>nulldf['vgoal'][i]):
        
        nullliks+=np.log(nullpred)
    elif(nulldf['hgoal'][i]<nulldf['vgoal'][i]):
        nullliks+=np.log(1-nullpred)
    else:
        nullliks+=np.log(np.sqrt(nullpred*(1-nullpred)))
nullliks

In [ ]:
np.log(np.sqrt(nullpred*(1-nullpred)))

In [ ]:
np.log(1-nullpred)

In [41]:
teamsforplot=Eloperiods(best)

{'hk': 0.2742633382088742, 'k': 13.797215454070143} -44210.7270572 1960.1077540754864 19.827125072479248

In [44]:
columns=['Date', 'Manchester United', 'Portsmouth', 'Manchester City']
teamsdf=pd.DataFrame(teamsforplot, columns=columns)

In [47]:
teamsdf['Date'][0].year

1958

In [50]:
teamsdf['Year']=teamsdf['Date'].dt.year

In [52]:
teamsdfplot=teamsdf[teamsdf['Year']>1992].reset_index()

In [77]:
plt.plot(teamsdfplot['Date'], teamsdfplot['Manchester United'], color='red')
plt.plot(teamsdfplot['Date'], teamsdfplot['Manchester City'], color='skyblue')
plt.plot(teamsdfplot['Date'], teamsdfplot['Portsmouth'], color='blue')
plt.xlabel('Year', fontsize=14)
plt.ylabel('Elo Rating', fontsize=14)
plt.legend(('Manchester United', 'Manchester City', 'Portsmouth'), fontsize=11)
plt.title('Elo Rating Of 3 Major English Clubs', fontsize=16)
plt.savefig('3TeamElo.png')

In [58]:
teamsdfplot

      index       Date  Manchester United   Portsmouth  Manchester City  Year
0      1793 1993-01-08        1818.989303  1607.366748      1761.622551  1993
1      1794 1993-01-15        1822.598446  1610.877403      1769.889538  1993
2      1795 1993-01-22        1829.552712  1606.405435      1762.223385  1993
3      1796 1993-01-29        1832.885820  1610.420025      1768.871996  1993
4      1797 1993-02-05        1825.010818  1611.171007      1772.525514  1993
5      1798 1993-02-10        1828.367175  1607.274281      1773.507331  1993
6      1799 1993-02-19        1828.367175  1613.384390      1773.507331  1993
7      1800 1993-02-26        1831.794414  1611.475982      1759.181325  1993
8      1801 1993-03-05        1834.099192  1606.053200      1767.012062  1993
9      1802 1993-03-12        1832.401221  1616.135837      1771.235542  1993
10     1803 1993-03-19        1830.034727  1623.342185      1765.736019  1993
11     1804 1993-03-26        1828.338106  1635.626707      1759.448555  1993
12     1805 1993-04-02        1828.338106  1639.350619      1759.448555  1993
13     1806 1993-04-09        1835.172833  1643.908589      1763.547412  1993
14     1807 1993-04-16        1845.151780  1654.356619      1762.351042  1993
15     1808 1993-04-23        1854.528157  1661.354501      1755.782291  1993
16     1809 1993-04-30        1854.528157  1664.964394      1755.782291  1993
17     1810 1993-05-06        1857.452153  1656.721904      1761.055060  1993
18     1811 1993-05-11        1863.605724  1660.092701      1751.619658  1993
19     1812 1993-05-11        1863.605724  1660.092701      1751.619658  1993
20     1813 1993-05-11        1863.605724  1660.092701      1751.619658  1993
21     1814 1993-05-11        1863.605724  1660.092701      1751.619658  1993
22     1815 1993-05-11        1863.605724  1660.092701      1751.619658  1993
23     1816 1993-05-11        1863.605724  1660.092701      1751.619658  1993
24     1817 1993-05-11        1863.605724  1660.092701      1751.619658  1993
25     1818 1993-05-11        1863.605724  1660.092701      1751.619658  1993
26     1819 1993-05-11        1863.605724  1660.092701      1751.619658  1993
27     1820 1993-05-11        1863.605724  1660.092701      1751.619658  1993
28     1821 1993-05-11        1863.605724  1660.092701      1751.619658  1993
29     1822 1993-05-11        1863.605724  1660.092701      1751.619658  1993
...     ...        ...                ...          ...              ...   ...
1243   3036 2016-11-04        1890.416848  1416.130637      1938.346120  2016
1244   3037 2016-11-06        1895.260113  1416.130637      1934.035499  2016
1245   3038 2016-11-18        1895.260113  1420.866662      1934.035499  2016
1246   3039 2016-11-25        1895.418307  1426.621393      1937.637571  2016
1247   3040 2016-12-02        1892.450480  1417.466740      1941.849970  2016
1248   3041 2016-12-09        1891.291794  1417.466740      1933.873847  2016
1249   3042 2016-12-16        1901.955546  1423.197218      1928.545595  2016
1250   3043 2016-12-21        1906.924582  1420.167086      1934.888140  2016
1251   3044 2016-12-30        1909.713877  1424.495845      1937.933602  2016
1252   3045 2017-01-05        1917.883755  1424.548433      1934.266897  2017
1253   3046 2017-01-13        1917.883755  1424.548433      1934.266897  2017
1254   3047 2017-01-20        1916.880897  1429.270170      1925.666535  2017
1255   3048 2017-01-25        1915.146257  1429.270170      1924.870732  2017
1256   3049 2017-02-03        1910.483464  1420.643485      1930.053258  2017
1257   3050 2017-02-10        1916.111614  1414.180973      1932.962814  2017
1258   3051 2017-02-14        1919.084621  1425.131705      1936.667754  2017
1259   3052 2017-02-24        1919.084621  1424.943094      1936.667754  2017
1260   3053 2017-03-03        1919.084621  1429.915027      1936.667754  2017
1261   3054 2017-03-10        1914.722129  1426.178712      1936.446829  2017
1262   3055 2017-03-17        1914.722129  1437.304729      1936.446829  2017
1263   3056 2017-03-21        1918.534547  1430.174581      1934.828574  2017
1264   3057 2017-03-31        1918.534547  1433.464189      1934.828574  2017
1265   3058 2017-04-07        1912.528712  1438.526575      1929.691640  2017
1266   3059 2017-04-14        1916.109793  1441.734870      1932.025523  2017
1267   3060 2017-04-21        1922.973237  1447.653036      1937.537293  2017
1268   3061 2017-04-28        1928.604435  1452.225547      1936.375474  2017
1269   3062 2017-05-05        1924.347167  1458.600158      1932.866053  2017
1270   3063 2017-05-12        1918.157344  1461.858765      1935.410646  2017
1271   3064 2017-05-18        1911.652401  1461.858765      1941.980489  2017
1272   3065 2017-05-21        1914.491543  1461.858765      1945.637348  2017

[1273 rows x 6 columns]

In [15]:
years=Eloperiods(best)

{'hk': 0.2742633382088742, 'k': 13.797215454070143} -44210.7270572 1960.1077540754864 20.75425100326538

In [341]:
best

{'hk': 0.2742633382088742, 'k': 13.797215454070143}

In [16]:
rows=[]
for i in range(len(years)):
    row=[years[i][0], np.mean(years[i][1]), np.std(years[i][1]),
        np.mean(years[i][2]), np.std(years[i][2]),
         np.mean(years[i][3]), np.std(years[i][3]),
         np.mean(years[i][4]), np.std(years[i][4])]
    rows.append(row)

In [17]:
columns=['Year', 'Premier League', 'PremStd', 'Championship', 'ChampStd', 'League One', 'L1Std', 'League Two', 'L2Std']

In [18]:
pd.DataFrame(rows, columns=columns)

,Year,Premier League,PremStd,Championship,ChampStd,League One,L1Std,League Two,L2Std
0,1958,1515.661737,42.390806,1498.174101,45.297324,1510.278942,42.281877,1477.038206,40.425672
1,1959,1524.923476,43.739517,1500.624259,46.074763,1515.380063,33.032479,1464.624502,43.463868
2,1960,1536.465058,54.366218,1509.242929,50.140425,1513.444680,43.424912,1448.079653,32.351849
3,1961,1548.184666,47.828906,1509.181837,37.886550,1513.540818,40.395669,1443.755537,44.073864
4,1962,1555.238838,46.830447,1515.018155,40.682027,1511.070650,31.283038,1434.409424,46.404502
5,1963,1568.680191,48.882742,1511.119753,35.674708,1510.773920,28.947415,1425.958447,39.549853
6,1964,1578.582276,48.238542,1513.902921,39.441879,1511.983723,39.478963,1413.120496,52.550015
7,1965,1586.940470,49.321419,1524.183351,49.219125,1500.170605,35.607188,1407.848209,42.284725
8,1966,1600.814936,51.066806,1520.979145,41.754579,1495.090835,31.337533,1403.146908,36.066121
9,1967,1611.278332,52.139963,1518.484268,30.408830,1492.778761,30.083142,1398.154506,50.012198
10,1968,1617.834709,62.415815,1525.586948,30.579999,1482.308810,28.343858,1396.103654,49.276668
11,1969,1627.053313,62.368943,1527.331004,35.176194,1479.179897,27.194609,1401.294855,39.894007
12,1970,1635.502654,61.132997,1528.896759,41.863437,1477.309625,27.868136,1393.984622,42.079533
13,1971,1642.320858,67.258000,1537.822996,38.044326,1467.878777,41.733755,1396.721926,43.167458
14,1972,1652.965650,55.556027,1532.895313,35.847677,1471.438721,33.903608,1387.921300,43.722782
15,1973,1654.697413,55.790284,1542.511930,29.567137,1473.519522,21.084540,1375.437817,30.172781
16,1974,1662.969422,42.652187,1543.736492,26.245500,1470.552009,22.029077,1369.700140,47.113954
17,1975,1666.231605,53.832886,1550.531441,29.896272,1470.530499,27.027855,1360.502613,53.296721
18,1976,1666.054624,47.762423,1559.105900,42.593509,1470.328949,33.026287,1367.013729,56.684350
19,1977,1675.497175,48.606129,1555.094389,28.644170,1474.804189,30.204416,1368.629707,52.744596
20,1978,1686.784457,62.232713,1548.612090,30.216720,1479.775521,27.053024,1359.253808,50.944826
21,1979,1691.275672,58.787226,1557.046485,28.485207,1471.570195,24.354205,1355.610659,59.662644
22,1980,1694.979973,64.576331,1557.313756,31.967188,1471.301712,32.159515,1352.238535,52.540841
23,1981,1696.452839,65.436466,1561.079201,41.731083,1475.082567,26.000752,1343.655894,57.662166
24,1982,1698.729067,54.081230,1563.854832,40.747866,1475.021065,33.998668,1339.086526,59.645953
25,1983,1704.223224,52.324211,1569.004417,37.940260,1473.224809,29.984716,1331.126017,47.437111
26,1984,1712.141947,55.562995,1570.949718,43.304192,1466.161626,40.830761,1329.147178,52.233354
27,1985,1716.893201,70.789662,1572.269968,25.277953,1459.533416,49.616297,1330.209843,49.714790
28,1986,1723.168789,61.432050,1577.880308,28.620028,1455.972695,58.170652,1337.085295,55.374500
29,1987,1726.844610,70.667306,1588.896884,41.254604,1451.402126,46.437762,1337.274055,46.289317
30,1988,1733.140867,63.118409,1588.569506,45.344396,1449.313517,37.312510,1343.137141,56.721405
31,1989,1733.726249,62.364456,1593.338679,42.550401,1445.423404,37.437268,1342.606510,43.850782
32,1990,1733.069688,60.661177,1570.322356,40.410187,1443.326593,50.830151,1346.660233,52.957255
33,1991,1730.385414,64.174596,1570.552414,46.123271,1454.633671,38.539911,1335.084493,58.755208
34,1992,1726.408361,51.238676,1578.657459,53.125512,1458.231132,45.611089,1339.307088,55.372313
35,1993,1730.753063,58.651558,1578.209899,44.133664,1461.161666,41.158994,1332.253687,41.024228
36,1994,1740.425617,64.739187,1590.892796,38.540148,1475.616762,37.797425,1330.263514,54.951049
37,1995,1738.211346,73.318523,1594.237938,42.919432,1474.750813,45.372174,1329.629546,52.643033
38,1996,1736.498404,66.512379,1596.064674,50.661227,1474.141985,45.632186,1338.200033,57.061555
39,1997,1745.775816,55.810486,1590.011513,53.872222,1474.360124,39.557637,1337.874416,53.696644
40,1998,1746.760609,72.926578,1594.525241,58.102446,1467.005468,45.727320,1348.470047,52.865949
41,1999,1755.829939,75.922965,1595.738174,45.559387,1465.426540,42.455587,1350.957191,53.050723
42,2000,1764.862984,67.922960,1590.785613,40.034142,1468.900820,48.540346,1353.906339,51.303338
43,2001,1766.862733,81.068864,1593.804408,48.000571,1470.973043,47.922683,1358.089220,53.181974
44,2002,1770.197879,78.487456,1596.572920,46.730541,1473.692696,46.067332,1354.001982,60.598977
45,2003,1767.280861,85.000771,1606.227199,50.580851,1467.606812,41.125149,1351.712980,46.945451
46,2004,1770.452751,87.532507,1603.121885,54.686578,1469.778394,46.657229,1350.997791,38.770529
47,2005,1775.855012,90.957328,1596.962398,55.365744,1467.611472,42.648026,1363.823601,52.109573
48,2006,1777.548755,91.433851,1598.553005,49.452385,1472.301499,40.688724,1373.800672,53.364910
49,2007,1777.598497,104.973349,1601.372682,45.890962,1476.410897,45.201251,1365.840467,50.139937
50,2008,1776.883914,113.109019,1604.669970,49.258905,1478.642893,50.562886,1367.371450,55.304719
51,2009,1786.095362,104.746393,1604.987405,36.726695,1474.685912,49.970692,1372.461764,48.066418
52,2010,1783.846518,93.177735,1612.194325,49.515945,1474.236306,41.218702,1385.168576,49.247053
53,2011,1788.736452,89.292117,1614.449980,47.406513,1479.248647,42.270122,1381.560769,46.291057
54,2012,1786.191378,102.631579,1613.361701,46.783170,1482.631847,48.233322,1374.505694,48.888515
55,2013,1789.483790,104.913962,1620.783660,46.109209,1478.104317,39.918818,1369.042927,36.765958
56,2014,1795.243799,95.014114,1623.250026,40.509259,1476.158568,34.298436,1365.934888,41.987301
57,2015,1802.887731,76.619469,1620.274015,48.817521,1478.564341,41.816736,1361.965326,43.530810

In [19]:
leagueaverages=pd.DataFrame(rows, columns=columns)

In [20]:
cutleagueavg=leagueaverages[leagueaverages['Year']>1983].reset_index()

In [21]:
cutleagueavg['League One']-cutleagueavg['League Two']

0     137.014449
1     129.323573
2     118.887399
3     114.128071
4     106.176375
5     102.816893
6      96.666360
7     119.549179
8     118.924044
9     128.907978
10    145.353247
11    145.121266
12    135.941951
13    136.485707
14    118.535421
15    114.469349
16    114.994481
17    112.883823
18    119.690715
19    115.893832
20    118.780603
21    103.787871
22     98.500827
23    110.570430
24    111.271443
25    102.224149
26     89.067730
27     97.687878
28    108.126153
29    109.061390
30    110.223679
31    116.599015
dtype: float64

In [38]:
cutleagueavg['League One']-cutleagueavg['League Two']

0     137.014449
1     129.323573
2     118.887399
3     114.128071
4     106.176375
5     102.816893
6      96.666360
7     119.549179
8     118.924044
9     128.907978
10    145.353247
11    145.121266
12    135.941951
13    136.485707
14    118.535421
15    114.469349
16    114.994481
17    112.883823
18    119.690715
19    115.893832
20    118.780603
21    103.787871
22     98.500827
23    110.570430
24    111.271443
25    102.224149
26     89.067730
27     97.687878
28    108.126153
29    109.061390
30    110.223679
31    116.599015
dtype: float64

In [35]:
plt.plot(cutleagueavg['Year'], cutleagueavg['PremStd'], color='red', linewidth=0.5)
plt.plot(cutleagueavg['Year'], cutleagueavg['ChampStd'], color='blue', linewidth=0.5)
plt.plot(cutleagueavg['Year'], cutleagueavg['L1Std'], color='green', linewidth=0.5)
plt.plot(cutleagueavg['Year'], cutleagueavg['L2Std'], color='brown', linewidth=0.5)
plt.legend(('Premier League', 'Championship', 'League One', 'League Two'))
plt.xlabel('Year', fontsize=14)
plt.ylabel('Std Dev', fontsize=14)
plt.title('Standard Deviation Of Elo Scores By Division', fontsize=16)
plt.savefig('DivStdDev.png')
#plt.show()

In [32]:
fig, ax = plt.subplots(1,1,figsize=(8,5))
#lowerbound=cutleagueavg['PremMean']-cutleagueavg['PremStd']
ax.plot( cutleagueavg['Year'], cutleagueavg['Premier League'], color='red')
ax.fill_between(cutleagueavg['Year'], cutleagueavg['Premier League']-cutleagueavg['PremStd'],cutleagueavg['Premier League']+cutleagueavg['PremStd'], facecolor='red', alpha=.1)
ax.plot( cutleagueavg['Year'], cutleagueavg['Championship'], color='blue')
ax.fill_between(cutleagueavg['Year'], cutleagueavg['Championship']-cutleagueavg['ChampStd'],cutleagueavg['Championship']+cutleagueavg['ChampStd'], facecolor='blue', alpha=0.1)
ax.plot( cutleagueavg['Year'], cutleagueavg['League One'], color='green')
ax.fill_between(cutleagueavg['Year'], cutleagueavg['League One']-cutleagueavg['L1Std'],cutleagueavg['League One']+cutleagueavg['L1Std'], facecolor='green', alpha=0.1)
ax.plot(cutleagueavg['Year'], cutleagueavg['League Two'], color='brown')
ax.fill_between(cutleagueavg['Year'], cutleagueavg['League Two']-cutleagueavg['L2Std'],cutleagueavg['League Two']+cutleagueavg['L2Std'], facecolor='brown', alpha=0.1)
ax.legend(loc='upper left')
fig.suptitle('Average Elo Score Within Each Division', fontsize=18)
ax.set_xlabel('Year', fontsize=16)
ax.set_ylabel('Elo Score', fontsize=16)
#plt.show()

plt.savefig('AverageElo.png')

In [203]:
rows2=[]
for i in range(len(years)):
    sortedp=sorted(years[i][1])
    lows=np.mean(sortedp[0:3])
    highs=(np.sum(sortedp[-3:-1])+sortedp[-1])/3
    rows2.append([years[i][0], lows, highs])

In [204]:
highs

1917.2878832878494

In [207]:
columns=['Year', 'Bottom 3', 'Top 3']
disparity=pd.DataFrame(rows2, columns=columns)
disparity=disparity[disparity['Year']>1991].reset_index()

    index  Year     Bottom 3        Top 3
0      34  1992  1648.504447  1808.325135
1      35  1993  1650.307442  1832.896943
2      36  1994  1654.353484  1858.204742
3      37  1995  1640.073721  1859.939010
4      38  1996  1653.545654  1860.240550
5      39  1997  1688.548369  1861.542685
6      40  1998  1653.870459  1885.692898
7      41  1999  1668.352281  1896.759359
8      42  2000  1700.910605  1890.114712
9      43  2001  1681.312490  1925.599002
10     44  2002  1683.020991  1922.572270
11     45  2003  1669.494163  1933.646077
12     46  2004  1678.392029  1960.214612
13     47  2005  1672.707937  1953.940001
14     48  2006  1677.736543  1956.946766
15     49  2007  1654.865822  1978.380679
16     50  2008  1645.404424  1991.942390
17     51  2009  1665.136781  1975.611621
18     52  2010  1669.401651  1950.224507
19     53  2011  1689.862777  1948.496427
20     54  2012  1661.360971  1960.046046
21     55  2013  1671.146573  1953.855961
22     56  2014  1699.189545  1964.863035
23     57  2015  1709.186754  1917.287883

In [222]:
plt.plot(disparity['Year'], disparity['Bottom 3'], color='red')
plt.plot(disparity['Year'], disparity['Top 3'], color='blue')
plt.title('Average Elo Rating Of Top 3 and Bottom 3 Teams In The Premier League', fontsize=16)
plt.xlabel('Year', fontsize=14)
plt.ylabel('Elo Rating', fontsize=14)
plt.legend(('Bottom 3', 'Top 3'), fontsize=12)
plt.savefig('Disparity.png')

In [274]:
disparity['Difference']=disparity['Top 3']-disparity['Bottom 3']
disparity

    index  Year     Bottom 3        Top 3  Difference
0      34  1992  1648.504447  1808.325135  159.820688
1      35  1993  1650.307442  1832.896943  182.589500
2      36  1994  1654.353484  1858.204742  203.851258
3      37  1995  1640.073721  1859.939010  219.865289
4      38  1996  1653.545654  1860.240550  206.694896
5      39  1997  1688.548369  1861.542685  172.994316
6      40  1998  1653.870459  1885.692898  231.822439
7      41  1999  1668.352281  1896.759359  228.407077
8      42  2000  1700.910605  1890.114712  189.204107
9      43  2001  1681.312490  1925.599002  244.286511
10     44  2002  1683.020991  1922.572270  239.551279
11     45  2003  1669.494163  1933.646077  264.151914
12     46  2004  1678.392029  1960.214612  281.822582
13     47  2005  1672.707937  1953.940001  281.232064
14     48  2006  1677.736543  1956.946766  279.210223
15     49  2007  1654.865822  1978.380679  323.514856
16     50  2008  1645.404424  1991.942390  346.537966
17     51  2009  1665.136781  1975.611621  310.474841
18     52  2010  1669.401651  1950.224507  280.822856
19     53  2011  1689.862777  1948.496427  258.633650
20     54  2012  1661.360971  1960.046046  298.685075
21     55  2013  1671.146573  1953.855961  282.709388
22     56  2014  1699.189545  1964.863035  265.673490
23     57  2015  1709.186754  1917.287883  208.101130

In [275]:
1/(1+10**(-346.537966
/400))

0.8802534958686963

In [227]:
1/(1+10**(-182.613715/400))

0.7410070013818516

In [309]:
topthree=[[82, 78, 71], [75, 68, 68],[78, 77, 65], [79, 78, 75], [91,73,69], [80, 70, 69] ,
         [87, 80, 77], [83, 78, 69],[90, 79, 75],[95, 83, 77], [91, 83, 82], [89, 83, 68] ,
         [87, 85, 83], [90, 86, 83], [86, 85, 75], [80, 71, 71], [89, 89, 70], [89, 78, 75],
         [86, 84, 82], [87, 79, 75], [81, 71, 70]]
bottomthree=[[38, 33, 29], [40, 39, 34], [40, 35, 33], [36, 35, 30], [33, 31, 24], [34, 34, 26],
            [36, 30, 28], [42, 26, 19], [33, 33, 33], [33, 33, 32], [34, 30, 15], [38, 34, 28],
            [36, 35, 11], [34, 32, 32],[30, 30, 28],  [39, 39, 33], [36, 31, 25],[36, 28, 25],
            [33, 32, 30], [35, 33, 30], [37, 34, 17]]
year=list(range(1995, 2016, 1))

In [310]:
len(list(range(1995, 2017, 1)))

22

In [311]:
len(topthree)

21

In [312]:
len(bottomthree)

21

In [313]:
tops=[]
bottoms=[]
for i in range(len(year)):
    tops.append(np.mean(topthree[i]))
    bottoms.append(np.mean(bottomthree[i]))

In [326]:
plt.plot(year, tops, color='red')
plt.plot(year, bottoms, color='blue')
plt.xticks(np.arange(min(year), max(year)+1, 3.0))
plt.xlabel('Year', fontsize=14)
plt.ylabel('Average Points', fontsize=14)
plt.title('Average Points By Top Three And Bottom Three Teams', fontsize=16)
plt.legend(('Top 3', 'Bottom 3'), fontsize=12)
plt.savefig('AvgPoints.png')

In [327]:
bottoms

[33.333333333333336,
 37.666666666666664,
 36.0,
 33.666666666666664,
 29.333333333333332,
 31.333333333333332,
 31.333333333333332,
 29.0,
 33.0,
 32.666666666666664,
 26.333333333333332,
 33.333333333333336,
 27.333333333333332,
 32.666666666666664,
 29.333333333333332,
 37.0,
 30.666666666666668,
 29.666666666666668,
 31.666666666666668,
 32.666666666666664,
 29.333333333333332]

In [335]:
import time


def lik(E, R):
    if(R==1):
        return np.log(E)
    elif (R==.5):
        return np.log(np.sqrt(E*(1-E)))
    elif (R==0):
        return np.log(1-E)
def Eloperiods(params):
    ratingperiodlength=7.0
    k=params['k']
    h=80
    hk=params['hk']
    #minrd=params['minrd']
    curtime=time.time()
    rows=len(fulldf)
    logliks=0.0
    hburn=10
    burn=25
    startyear=fulldf['Season'].values[0]
    startday=fulldf['Season']
    Elodictionary2=copy.deepcopy(initdictionary)
    currentyear=fulldf['Season'].values[0]
    startdate=fulldf['Date'][0]
    GameCounter=0.
    Rs=0.
    Es=0.
    year=copy.deepcopy(startyear)
    totaltime=fulldf['Day#'][rows-1]-fulldf['Day#'][0]
    day=0.
    Poismatches=[]
    while day<=totaltime:
        #print(Elodictionary2)
        ratingperioddf=fulldf[(fulldf['Day#'] >=day) & (fulldf['Day#']<day+ratingperiodlength)].reset_index()
        if len(ratingperioddf!=0):

            Rs=0.
            Es=0.

            for ind, row in ratingperioddf.iterrows():
                #print('sup')
                Home=row['home']
                Away=row['visitor']
                HomeGoals=row['hgoal']
                AwayGoals=row['vgoal']
                year=row['Season']
                date=row['Date']
                tier=row['tier']
                HomeRating=Elodictionary2[Home]
                AwayRating=Elodictionary2[Away]
                Expect=E(HomeRating, AwayRating, h)
                HRes=Res(HomeGoals, AwayGoals)
                PE=(HRes-Expect)*k
                Elodictionary2[Home]=HomeRating+PE
                Elodictionary2[Away]=AwayRating-PE
                Rs+=HRes
                Es+=Expect
                if(year>startyear+burn):
                    logliks+=lik(Expect, HRes)
                if(year>2008):
                    if(tier==1):
                        Poismatches.append([Home, Away,year,  HomeGoals, AwayGoals, HomeRating, AwayRating, h, 1])
                        Poismatches.append([Away, Home,year,  AwayGoals, HomeGoals, AwayRating, HomeRating, h, -1])
                        
                #print(Home,Away, HomeRating, AwayRating, PE, HRes, HomeGoals, AwayGoals)
                #print(Elodictionary2['Home'], Elodictionary2['Away'], h)
                    
            
            if(year>startyear+hburn):
                h+=hk*(Rs-Es)
        day+=ratingperiodlength
    print(params ,logliks,Elodictionary2['Tottenham Hotspur'], time.time()-curtime)
    return Poismatches

In [336]:
Poissonrows=Eloperiods(best)
columns=['Team', 'Opponent','Year', 'Goals', 'OppGoals', 'Rating', 'OppRating', 'HF', 'HomeAway']
EloPoissonDf=pd.DataFrame(Poissonrows, columns=columns)

{'hk': 0.2742633382088742, 'k': 13.797215454070143} -44210.7270572 1960.1077540754864 20.993250131607056

In [339]:
EloPoissonDf

,Team,Opponent,Year,Goals,OppGoals,Rating,OppRating,HF,HomeAway
0,Portsmouth,Fulham,2009,0,1,1729.393688,1750.271637,52.702605,1
1,Fulham,Portsmouth,2009,1,0,1750.271637,1729.393688,52.702605,-1
2,Bolton Wanderers,Sunderland,2009,0,1,1713.619525,1671.675425,52.702605,1
3,Sunderland,Bolton Wanderers,2009,1,0,1671.675425,1713.619525,52.702605,-1
4,Blackburn Rovers,Manchester City,2009,0,2,1753.738406,1747.577803,52.702605,1
5,Manchester City,Blackburn Rovers,2009,2,0,1747.577803,1753.738406,52.702605,-1
6,Stoke City,Burnley,2009,2,0,1699.737448,1635.508728,52.702605,1
7,Burnley,Stoke City,2009,0,2,1635.508728,1699.737448,52.702605,-1
8,Everton,Arsenal,2009,1,6,1844.242480,1934.351088,52.702605,1
9,Arsenal,Everton,2009,6,1,1934.351088,1844.242480,52.702605,-1
10,Chelsea,Hull City,2009,2,1,1997.537331,1629.029120,52.702605,1
11,Hull City,Chelsea,2009,1,2,1629.029120,1997.537331,52.702605,-1
12,Wolverhampton Wanderers,West Ham United,2009,0,2,1694.625364,1753.763961,52.702605,1
13,West Ham United,Wolverhampton Wanderers,2009,2,0,1753.763961,1694.625364,52.702605,-1
14,Aston Villa,Wigan Athletic,2009,0,2,1810.067056,1710.547169,52.702605,1
15,Wigan Athletic,Aston Villa,2009,2,0,1710.547169,1810.067056,52.702605,-1
16,Tottenham Hotspur,Liverpool,2009,2,1,1786.887416,1964.651741,52.702605,1
17,Liverpool,Tottenham Hotspur,2009,1,2,1964.651741,1786.887416,52.702605,-1
18,Manchester United,Birmingham City,2009,1,0,2013.638097,1696.814797,52.702605,1
19,Birmingham City,Manchester United,2009,0,1,1696.814797,2013.638097,52.702605,-1
20,Sunderland,Chelsea,2009,1,3,1680.408170,1998.659178,52.702605,1
21,Chelsea,Sunderland,2009,3,1,1998.659178,1680.408170,52.702605,-1
22,Wigan Athletic,Wolverhampton Wanderers,2009,0,1,1720.288655,1687.854533,52.702605,1
23,Wolverhampton Wanderers,Wigan Athletic,2009,1,0,1687.854533,1720.288655,52.702605,-1
24,Liverpool,Stoke City,2009,4,0,1955.371901,1704.398156,52.702605,1
25,Stoke City,Liverpool,2009,0,4,1704.398156,1955.371901,52.702605,-1
26,Burnley,Manchester United,2009,1,0,1630.848020,2015.107290,52.702605,1
27,Manchester United,Burnley,2009,0,1,2015.107290,1630.848020,52.702605,-1
28,Hull City,Tottenham Hotspur,2009,1,5,1627.907273,1796.167256,52.702605,1
29,Tottenham Hotspur,Hull City,2009,5,1,1796.167256,1627.907273,52.702605,-1
...,...,...,...,...,...,...,...,...,...
6050,Chelsea,Watford,2016,4,3,1970.146044,1716.493151,50.337818,1
6051,Watford,Chelsea,2016,3,4,1716.493151,1970.146044,50.337818,-1
6052,Arsenal,Sunderland,2016,2,0,1926.919607,1669.531138,50.337818,1
6053,Sunderland,Arsenal,2016,0,2,1669.531138,1926.919607,50.337818,-1
6054,Manchester City,West Bromwich Albion,2016,3,1,1939.222731,1748.603861,50.337818,1
6055,West Bromwich Albion,Manchester City,2016,1,3,1748.603861,1939.222731,50.337818,-1
6056,Southampton,Manchester United,2016,0,0,1804.419212,1912.794174,50.337818,1
6057,Manchester United,Southampton,2016,0,0,1912.794174,1804.419212,50.337818,-1
6058,Leicester City,Tottenham Hotspur,2016,1,6,1814.659909,1951.828486,50.337818,1
6059,Tottenham Hotspur,Leicester City,2016,6,1,1951.828486,1814.659909,50.337818,-1
6060,Leicester City,AFC Bournemouth,2016,1,1,1809.450374,1742.434506,50.352157,1
6061,AFC Bournemouth,Leicester City,2016,1,1,1742.434506,1809.450374,50.352157,-1
6062,Liverpool,Middlesbrough,2016,3,0,1907.128028,1687.183970,50.352157,1
6063,Middlesbrough,Liverpool,2016,0,3,1687.183970,1907.128028,50.352157,-1
6064,Manchester United,Crystal Palace,2016,2,0,1911.652401,1727.385694,50.352157,1
6065,Crystal Palace,Manchester United,2016,0,2,1727.385694,1911.652401,50.352157,-1
6066,Southampton,Stoke City,2016,0,1,1805.560985,1758.857675,50.352157,1
6067,Stoke City,Southampton,2016,1,0,1758.857675,1805.560985,50.352157,-1
6068,Chelsea,Sunderland,2016,5,1,1972.188838,1667.525486,50.352157,1
6069,Sunderland,Chelsea,2016,1,5,1667.525486,1972.188838,50.352157,-1
6070,Watford,Manchester City,2016,0,5,1714.450357,1941.980489,50.352157,1
6071,Manchester City,Watford,2016,5,0,1941.980489,1714.450357,50.352157,-1
6072,Burnley,West Ham United,2016,1,2,1742.323581,1772.839265,50.352157,1
6073,West Ham United,Burnley,2016,2,1,1772.839265,1742.323581,50.352157,-1
6074,Arsenal,Everton,2016,3,1,1928.925259,1828.479436,50.352157,1
6075,Everton,Arsenal,2016,1,3,1828.479436,1928.925259,50.352157,-1
6076,Swansea City,West Bromwich Albion,2016,2,1,1747.177140,1745.846104,50.352157,1
6077,West Bromwich Albion,Swansea City,2016,1,2,1745.846104,1747.177140,50.352157,-1
6078,Hull City,Tottenham Hotspur,2016,1,7,1689.327005,1957.038021,50.352157,1
6079,Tottenham Hotspur,Hull City,2016,7,1,1957.038021,1689.327005,50.352157,-1

In [340]:
EloPoissonDf.to_csv('EloPoisson.csv')